<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.camp.model.mapper.CampMapper">


	<select id="selectCampAll" resultType="CampSiteVO">
		SELECT * FROM campsiteInfo
	</select>
	
	<select id="campThemeBest" resultType="CampSiteVO">
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%해변%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%섬%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%산%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%숲%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%계곡%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%강%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%호수%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%도심%' ORDER BY views LIMIT 1)
	</select>
	
	<select id="campSearch" resultType="CampSiteVO">
		SELECT contentID, campNm, induType, location, doNm, sigunguNm, animalEntry, img
		FROM campSiteInfo
		WHERE 1 = 1
		AND manStatus = '운영'
		<if test="doNm != null">
			AND doNm LIKE '%${doNm}%'
		</if>
		<if test="campNm != null">
			AND campNm LIKE '%${campNm}%'
		</if>
		<if test="location != null">
			AND location LIKE '%${location}%'
		</if>
		<if test="induType != null">
			AND induType LIKE '%${induType}%'
		</if>
		<if test="animalEntry != null">
			AND animalEntry LIKE '%${animalEntry}%'
		</if>
		ORDER BY views
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectResultCount" resultType="int">
		SELECT count(*)
		FROM campSiteInfo
		WHERE 1 = 1 AND manStatus = '운영'
		<if test="doNm != null">
			AND doNm LIKE '%${doNm}%'
		</if>
		<if test="campNm != null">
			AND campNm LIKE '%${campNm}%'
		</if>
		<if test="location != null">
			AND location LIKE '%${location}%'
		</if>
		<if test="induType != null">
			AND induType LIKE '%${induType}%'
		</if>
		<if test="animalEntry != null">
			AND animalEntry LIKE '%${animalEntry}%'
		</if>
		ORDER BY views
	</select>
	
	<select id="campThemeTopTen" parameterType="Map" resultType="CampSiteVO">
		SELECT contentID, campNm, lineIntro, addr, tel, img FROM campSiteInfo WHERE
			location=#{location}
		AND manStatus = '운영' 
		LIMIT 10;
	</select>
	
	<select id="getThemaCnt" resultType="ThemaCnt">
		SELECT A.beach, B.island, C.mt, D.forest, E.valley, F.river, G.lake, H.city
			FROM (SELECT count(*) AS beach FROM campsiteInfo WHERE location LIKE '%해변%') A,
				 (SELECT count(*) AS island FROM campsiteInfo WHERE location LIKE '%섬%') B,
		         (SELECT count(*) AS mt FROM campsiteInfo WHERE location LIKE '%산%') C,
		         (SELECT count(*) AS forest FROM campsiteInfo WHERE location LIKE '%숲%') D,
		         (SELECT count(*) AS valley FROM campsiteInfo WHERE location LIKE '%계곡%') E,
		         (SELECT count(*) AS river FROM campsiteInfo WHERE location LIKE '%강%') F,
		         (SELECT count(*) AS lake FROM campsiteInfo WHERE location LIKE '%호수%') G,
		         (SELECT count(*) AS city FROM campsiteInfo WHERE location LIKE '%도심%') H;
	</select>
	
	<select id="campDetailById" parameterType="Map" resultType="CampSiteVO">
		SELECT C.*, rating.avgRating, rating.numReviews, bookmarks.bookmarks
			FROM campSiteInfo C
			LEFT JOIN (
				SELECT contentID, count(*) AS bookmarks
				FROM campBookmark
				WHERE contentID = #{contentId}
				GROUP BY contentID
			) bookmarks ON C.contentID = bookmarks.contentID
			LEFT JOIN (
			SELECT contentId, SUM(rating) / count(*) AS avgRating, count(*) AS numReviews
				FROM board
				WHERE contentId = #{contentId}
				GROUP BY contentId
			) rating ON C.contentID = rating.contentId
			WHERE C.contentID = #{contentId}
	</select>
	
	<select id="getCampBookmark" parameterType="int" resultType="CampBookmark">
		SELECT * FROM campBookmark WHERE mno = ${mno}
	</select>
	
	<insert id="campBookmark" parameterType="Map">
		INSERT INTO campBookmark VALUES(#{contentId}, #{mno}, DEFAULT)
	</insert>
	
	<delete id="campBookmarkRemove" parameterType="Map">
		DELETE FROM campBookmark WHERE contentID = #{contentId} AND mno = #{mno}
	</delete>
	
	<update id="campViewsPlus" parameterType="Map">
		UPDATE campSiteInfo SET views = views + 1 WHERE contentID = #{contentId}
	</update>
	
	<select id="selectBoardCount" parameterType="Map" resultType="int">
		SELECT count(*) FROM board;
	</select>
	
	<select id="selectInfoBoardList" parameterType="Map" resultType="Board">
		SELECT 
			B.bno, B.boardTitle, M.name, B.boardCreateDate, B.boardReFileNm, B.boardViews, B.boardContent, B.boardTag
		FROM board B 
		JOIN member M ON(B.mno = M.mno)
		WHERE B.boardStatus = 'Y' AND B.boardCat = #{boardCat}
		<if test="boardTag != null">
			AND B.boardTag = #{boardTag}
		</if>
		<if test="id != null">
			AND M.name LIKE '%${name}%'
		</if>
		<if test="title != null">
			AND B.title LIKE '%${title}%'
		</if>
		<if test="content != null">
			AND B.content LIKE '%${content}%'
		</if>
		ORDER BY B.bno DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="pickInfo" parameterType="Map" resultType="Board">
		SELECT * FROM board
		WHERE boardTag = 'camp' AND boardStatus = 'Y' AND boardCat = 'info'
		ORDER BY boardViews DESC
		LIMIT 2
	</select>
	
	<select id="pickReview" parameterType="Map" resultType="Board">
		SELECT b.*, camp.campNm, camp.doNm, camp.sigunguNm FROM board b
		    JOIN campsiteInfo camp ON b.contentId = camp.contentID
			WHERE b.boardTag = 'camp' AND b.boardStatus = 'Y' AND b.boardCat = 'review'
			ORDER BY b.boardViews DESC
			LIMIT 3;
	</select>
	
</mapper>