<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.camp.model.mapper.CampMapper">


	<select id="selectCampAll" resultType="CampSiteVO">
		SELECT * FROM campsiteInfo
	</select>
	
	<select id="campThemeBest" resultType="CampSiteVO">
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%해변%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%섬%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%산%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%숲%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%계곡%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%강%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%호수%' ORDER BY views LIMIT 1)
		UNION ALL
		(SELECT contentID, campNm, location, doNm, sigunguNm, img FROM campsiteInfo WHERE location LIKE '%도심%' ORDER BY views LIMIT 1)
	</select>
	
	<select id="campSearch" resultType="CampSiteVO">
		SELECT contentID, campNm, induType, location, doNm, sigunguNm, animalEntry, img
		FROM campSiteInfo
		WHERE 1 = 1
		AND manStatus = '운영'
		<if test="doNm != null">
			AND doNm LIKE '%${doNm}%'
		</if>
		<if test="campNm != null">
			AND campNm LIKE '%${campNm}%'
		</if>
		<if test="location != null">
			AND location LIKE '%${location}%'
		</if>
		<if test="induType != null">
			AND induType LIKE '%${induType}%'
		</if>
		<if test="animalEntry != null">
			AND animalEntry LIKE '%${animalEntry}%'
		</if>
		ORDER BY views
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectResultCount" resultType="int">
		SELECT count(*)
		FROM campSiteInfo
		WHERE 1 = 1 AND manStatus = '운영'
		<if test="doNm != null">
			AND doNm LIKE '%${doNm}%'
		</if>
		<if test="campNm != null">
			AND campNm LIKE '%${campNm}%'
		</if>
		<if test="location != null">
			AND location LIKE '%${location}%'
		</if>
		<if test="induType != null">
			AND induType LIKE '%${induType}%'
		</if>
		<if test="animalEntry != null">
			AND animalEntry LIKE '%${animalEntry}%'
		</if>
		ORDER BY views
	</select>
	
	<select id="campThemeTopTen" parameterType="Map" resultType="CampSiteVO">
		SELECT contentID, campNm, lineIntro, addr, tel, img FROM campSiteInfo WHERE
			location=#{location}
		AND manStatus = '운영' ORDER BY bookmarks DESC LIMIT 10;
	</select>
	
	<select id="campDetailById" parameterType="Map" resultType="CampSiteVO">
		SELECT contentID, campNm, lineIntro, intro, addr, tel, img, mapX, mapY, location, openSeason, openDay, addFclty, homepage, toiletCo, showerCo, sinkCo, fireExtCo, fireSensorCo
		FROM campSiteInfo
		WHERE contentID = #{contentId}
	</select>
	
</mapper>