<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.member.model.mapper.MemberMapper">
	<select id="selectMemberById" parameterType="string" resultType="Member">
		SELECT * FROM member WHERE id = #{id} AND status = 'Y'
	</select>
	
	<insert id="joinMember" parameterType="Member">
		INSERT INTO member VALUES(DEFAULT, #{id}, #{password}, #{name}, #{gender}, #{address}, #{favDistrict}, DEFAULT, DEFAULT, 'Y', #{birth}, #{oriFileNm}, #{reFileNm}, #{phone})
	</insert>
	
	<update id="deleteMember" parameterType="int">
	 	UPDATE MEMBER 
	 		SET STATUS = 'N'
	 	WHERE mNO = #{mno}
	 </update>
	
	<select id="findById" parameterType="String" resultType="Member">
		SELECT mno, id, password, name, gender, address, favDistrict, enrollDate, role, status, birth, reFileNm, phone FROM member WHERE id = #{id}
	</select>
	
	<update id="updateMember" parameterType="Member">
		UPDATE member
		SET id = #{id}, name = #{name}, gender = #{gender}, address = #{address}, phone = #{phone}, birth = #{birth}
		<if test="oriFileNm">
			, oriFileNm = #{oriFileNm},
			reFileNm = #{reFileNm}
		</if>
		WHERE mNO = #{mno}
	</update>
	
	<update id="updateID">
		UPDATE member
		SET id = #{id}
		WHERE mno = #{mno}
	</update>
	
	<select id="findByMno" parameterType="int" resultType="Member">
		SELECT * FROM member WHERE mno = #{mno}
	</select>
	
	<update id="updatePwd" parameterType="Map">
		UPDATE member
		SET password = #{password}
		WHERE mno = #{mno}
	</update>
	
	<select id="duplID" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE id = #{id}
	</select>
</mapper>

