<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.board.model.mapper.BoardMapper">
	<insert id="posting" parameterType="Board">
		INSERT INTO board
		VALUES(DEFAULT, #{mno}, #{name}, #{boardCat}, #{boardTag}, #{boardTitle}, #{boardContent}, #{boardOriFileNm}, #{boardReFileNm}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectBoardCount" parameterType="Map" resultType="int">
		SELECT count(*) FROM board;
	</select>
	
	<select id="selectInfoBoardList" parameterType="Map" resultType="Board">
		SELECT 
			B.bno, B.boardTitle, M.name, B.boardCreateDate, B.boardReFileNm, B.boardViews, B.boardContent, B.boardTag
		FROM board B 
		JOIN member M ON(B.mno = M.mno)
		WHERE 1 = 1 AND B.boardStatus = 'Y'
		<if test="boardTag != null">
			AND B.boardTag = #{boardTag}
		</if>
		<if test="id != null">
			AND M.name LIKE '%${name}%'
		</if>
		<if test="title != null">
			AND B.title LIKE '%${title}%'
		</if>
		<if test="content != null">
			AND B.content LIKE '%${content}%'
		</if>
		ORDER BY B.bno DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectBoardDetail" parameterType="int" resultType="Board">
		SELECT * FROM board WHERE bno = #{bno};
	</select>
	
	<update id="updateViews" parameterType="int">
		UPDATE board SET boardViews = (boardViews + 1) WHERE bno = #{bno};
	</update>
	
	<update id="updatePost" parameterType="Board">
		UPDATE board SET
			boardCat = #{boardCat},
			boardTitle = #{boardTitle},
			boardContent = #{boardContent}
			<if test="boardOriFileNm">
				, boardOriFileNm = #{boardOriFileNm},
				boardReFileNm = #{boardReFileNm}
			</if>
		WHERE bno = #{bno};
	</update>
</mapper>

