<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.concert.model.mapper.ConcertMapper">


	<select id="selectConcertAll" resultType="ConcertVO">
		SELECT * FROM concert
	</select>
	
	<select id="concertBest" resultType="ConcertVO">
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '서양음악(클래식)' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '대중음악' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '뮤지컬' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '연극' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '서커스/마술' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '한국음악(국악)' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '무용' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '대중무용' ORDER BY views LIMIT 1)
		UNION
		(SELECT conNm, genre, startDate, endDate, conHallNm, posterImg FROM concert WHERE genre LIKE '복합' ORDER BY views LIMIT 2)
	</select>
	
	<select id="concSearch" resultType="ConcertVO" parameterType="Map">
		SELECT conId, conNm, genre, startDate, endDate, conHallNm, posterImg, minPrice
		FROM concert
		WHERE status = 'Y'
		<if test="min != null and max != null">
			AND #{min} &lt;= minPrice AND minPrice &lt;= #{max}
		</if>
		<if test="genre != null and genre != ''">
			AND genre = #{genre}
		</if>
		<if test="viewAge != null and viewAge != ''">
			AND viewAge >= #{viewAge}
		</if>
		<if test="conState != null and conState != ''">
			AND conState = #{conState}
		</if>
		<if test="searchType == 'concKeyword'">
			AND conNm LIKE '%${keyword}%'
		</if>
		<if test="searchType == 'hallKeyword'">
			AND conHallNm LIKE '%${keyword}%'
		</if>
		<if test="reservDate != null and reservDate != ''">
			AND startDate &lt; #{reservDate} AND #{reservDate} &lt; endDate
		</if>
		ORDER BY views
		LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="countSearch" parameterType="Map" resultType="int">
		SELECT count(*)
		FROM concert
		WHERE status = 'Y'
		<if test="min != null and max != null">
			AND #{min} &lt;= minPrice AND minPrice &lt;= #{max}
		</if>
		<if test="genre != null and genre != ''">
			AND genre = #{genre}
		</if>
		<if test="viewAge != null and viewAge != ''">
			AND viewAge >= #{viewAge}
		</if>
		<if test="conState != null and conState != ''">
			AND conState = #{conState}
		</if>
		<if test="searchType == 'concKeyword'">
			AND conNm LIKE '%${keyword}%'
		</if>
		<if test="searchType == 'hallKeyword'">
			AND conHallNm LIKE '%${keyword}%'
		</if>
		<if test="reservDate != null and reservDate != ''">
			AND startDate &lt; #{reservDate} AND #{reservDate} &lt; endDate
		</if>
	</select>

</mapper>

